{% extends "base.html" %}
{% load staticfiles %}
{% block page-content %}
{% block header %}
    <div class="wrapper">
        <div class="page-header page-header-xs" data-parallax="true" style="background-image: url({% static 'img/martial-arts.jpg' %});">
			<div class="filter"></div>
        </div>
        <div class="section profile-content">
                <div class="container">
                    <div class="owner">
                        <div class="avatar">
                                <img style="max-width: 100%; margin:10;" src="{% static 'images/CenturionShield.png' %}" alt="Centurion MSC Logo Sheild" class="img-no-padding img-responsive">
                            </div>
                    </div>
        {% endblock header %}
        {% block content %}
        {% endblock content %}
    </div>

  
{% endblock page-content %}